html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}



@font-face {
  font-family: 'roboto';
  src: local('Roboto-Regular'), 
        url('../fonts/Roboto-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'roboto';
  src: local('Roboto-Light'), 
        url('../fonts/Roboto-Light.ttf') format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: 'roboto-thin';
  src: local('Roboto-Thin'), 
        url('../fonts/Roboto-Thin.ttf') format("truetype");
  font-weight: lighter;
}
@font-face {
  font-family: 'roboto';
  src: local('Roboto-Bold'), 
        url('../fonts/Roboto-Bold.ttf') format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: 'roboto';
  src: local('Roboto-Italic'), 
        url('../fonts/Roboto-Italic.ttf') format("truetype");
  font-style: italic;
}
@font-face {
  font-family: 'roboto';
  src: local('Roboto-BoldItalic'), 
        url('../fonts/Roboto-BoldItalic.ttf') format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'roboto';
  src: local('Roboto-LightItalic'), 
        url('../fonts/Roboto-LightItalic.ttf') format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'roboto';
  src: local('Roboto-Medium'), 
        url('../fonts/Roboto-Medium.ttf') format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: 'roboto';
  src: local('Roboto-ThinItalic'), 
        url('../fonts/Roboto-ThinItalic.ttf') format("truetype");
  font-weight:lighter;
  font-style: italic;
}

html{
  height: fit-content;
}


body{
  display: flex;
  flex-direction: column;
  max-width: 100dvw;
  margin: 0;
  min-height: 100%;
  min-width: 100%;

}

hr {
  width:75%; 
  border: none; 
  height: 1px; 
  background-color: var(--shadowStrong); 
  margin-top: 5vh; 
  margin-bottom: 5vh;
}

:root{
  --bannerSize: 5rem;

  --accordion: #225c90;
  --sub-accordion: #0D4373;
  --accordion-nav: #cee7fa;
  
  --accordion-hover: #187FD9;
  --sub-accordion-hover: #187FD9;
  
  --button: #F26430;


  --shadow: #225c903a;
  --shadowStrong: #225d90e3;

  --whiter: #ffffff;
  --white: #ffffff;
  --lighter: #ffffff;
  --light: #ffffff;
  --greyish: #ffffff;

  --medium: #225c90;
  --mutedMedium: #ffffff;

  --dark: #082239;

  --fontSize: 80rem;

  --accordion-width: min(50vw, 30rem);
}

.page-bg{
  background-color: var(--white);
}


.banner{ 
  z-index: 9998;
  background-color: var(--whiter);
  height: var(--bannerSize);
  width: 100%;
  top: 0;
  left: 0;  
  box-shadow: 0px 2px 30px var(--shadow);
}

.footer{
  position:relative;
  margin-top: 2em;
  margin-inline: 0;
  background-color: var(--medium);
  box-shadow: 0px -2px 30px var(--shadow);
  border-bottom: 3px solid var(--dark);
  width: 100%;
  height: 80px;

  margin-bottom: 0;
  z-index: 998;
  
}

.home-banner{
  width: 100%;  
}

.home-banner img{
  width: 100%;
  height: 100%;
}

.plus-sign:hover{
  color: #e9ffde;
  text-shadow: none;
}
.plus-sign{
  color: #157ed9;
  transition: 1s;
  text-shadow: -1vw -1vw #D91A73, -.5vw -.5vw #F2AE30, 0 0 #0F528C, .5vw .5vw #62A632, 1vw 1vw #F26430;
}

.logo{
  display: block;
  margin: 0 auto;
  margin-block: 1rem;
  width: 15rem;
  height: 3rem;
  transition: 0.2s;
}

.logo:hover{
  transform: scale(1.1);
}

.logo img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}


/* DEPRECATED TEXT LOGO */
/* .logo a{
  color: var(--dark);
  text-decoration:underline var(--dark) double;
  font-size:200%;
  font-family: 'Times New Roman';
  font-family:var(--siteMainFont);
  transition: 1s;
} */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: var(--shadowStrong);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-family: roboto;
  font-size: 150%;
  color: #FFFFFF;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #000000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 10%;
  font-size: calc(var(--fontSize) * 0.0225);
  margin-left: 50px;
}

.nav-button{
  position: fixed;
  color:#ffffff;
  mix-blend-mode:difference;
  z-index: 9999;
  font-size: calc(var(--fontSize) * 0.03);
  cursor: pointer;
  vertical-align: middle;
  line-height: calc(var(--bannerSize) - (0.2 * var(--bannerSize)));
  padding-left: .5vw;
  float:left;
}

.content{
  flex: 1;
  top: 120px;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
}

/* <- About Page -> */

 .text{
  width: 50rem;
  font-size: calc(var(--fontSize) * 0.015);
  padding: 1rem;
  padding-top: 0;
  font-family: Roboto;
}

#shade{
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999;

  transition: 0.3s;
  pointer-events: none;
}

.shade-toggle{
  background-color: rgba(0, 0, 0, 0.314);
}

.content-section{
  width: 100%;
  min-height: auto;
  margin-inline: 0;
  margin-top: 2%;
  overflow: hidden;

}

.title{
  margin: 3vh;
  font-size: calc(var(--fontSize) * 0.0336);
  font-family: 'roboto';
  font-weight: 200;

  color: var(--medium);


}

.content-section .post{
  cursor: pointer;
  background-color: var(--greyish);
  width: 70%;
  transition: 0.5s;
}

.content-section .post:hover{
  width: 80%;
}

.content-section #date{
  font-size: calc(var(--fontSize) * 0.008);
  text-align: right;
}

.content-section p{
  font-family:roboto;
  font-weight: 200;
  margin: 2rem;
}

.news{
  min-height: 100vh;
  width: 80%;
  background-color: var(--white);
  border: 1px outset var(--dark);
  border-top: 5px solid var(--shadow);
  border-bottom: 5px solid var(--shadow);

}

.right-margin{
  margin-right: 2%;
}


.left-margin{
  margin-left: 2%;
}

.rightleft-margin{
  margin-right: 2%;
  margin-left: 2%;
}

.right-padding{
  padding-right: 2%;
}


.left-padding{
  padding-left: 2%;
}

.rightleft-padding{
  padding-right: 2%; 
  padding-left: 2%;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

.center p, small, h1, h2, h3, h4, h5, h6{
  text-align: center;
}

.top-margin{
  margin-top: 2%;
}

/* <- HOMEPAGE -> */

#homepage{
  padding: 2%;

}

.link-button{
  background-color: var(--button);
  width: 35%; height: 7rem; 
  font-size: calc(var(--fontSize) * 0.04); 
  margin: 2rem;
  font-family: 'roboto-thin';
  font-weight: lighter;
  color: white;
  border: 3px groove var(--shadow);
  border-radius: 10px;
}

.link-button:hover{
  background-color: #ef853a;
  cursor: pointer;
}

/* <- PROJECTS PAGE -> */

.accordion-wrapper{
  width: var(--accordion-width);
  min-height: 4.5rem;
  background-color: var(--accordion-nav);
  border-top: .5rem solid var(--accordion);
  border-bottom: .2vw solid var(--accordion);
  overflow: hidden;
  transition: 250ms;

  position: relative;
}

.accordion-wrapper.nav-active{
  width: 100%;
}


.accordion-wrapper p{
  padding: 1rem;
  padding-top: 0;
  
}

.menu {
  position: relative;
  background-color: var(--accordion);
  max-width: var(--accordion-width);
  min-height: 76.5rem;
  z-index: 300;
}


.accordion{
  position: relative;
  width: 100%;
  height: 4.5rem;
  background-color: var(--accordion);
  border: none;
 
  outline: none;
  
  z-index: 300;

  font-family: roboto;
  font-size: calc(var(--fontSize) * 0.016);
  color: white;
}

.sub.accordion{
  width: 100%;
  height: 5rem;
  background-color: var(--sub-accordion);
}

.accordion.transition{
  transition: 0.5s;
}

.projects{
  width: 100%;
}

.accordion:hover{
  cursor: pointer;
  background-color: var(--accordion-hover);
}

.sub.accordion:hover{
  background-color: var(--sub-accordion-hover);
}



.panel{
  background-color: var(--light);
  margin: 0;
  
  overflow: hidden;
  
  transition: 0.5s;
  transition-timing-function: ease;
  z-index: 300;
}

.panel.down{
  max-height: 0;

}

.accordion-nav{
  max-height: 100%;
  width: calc(98% - var(--accordion-width));
  position: absolute;
  right: 1%;
  overflow: hidden;
  overflow-y: auto;

  text-align: left;

  z-index: 1;
}

.accordion-nav-content{
  background-color: var(--lighter);
  min-height: 1000vh;
  min-width: 100vw;
}

.filter-wrapper{
  display: flex;
  flex-direction: column;
  background-color: var(--sub-accordion);
  padding: 1rem;

  color: var(--lighter);
  font-family: roboto;
  font-weight: 200;
  text-align: center;
}

.filter{
  margin: .3rem;
  background-color: var(--sub-accordion);

  
}

.hidden{
  display: none;
}

/* Singular Project Page */

.project-info{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;

  

  min-width: 100%;
  width: 100%;
  margin: 0 auto;


}

.project-images{
  display: flex;
  flex-wrap: nowrap;
  

  gap: 3vw;
  align-items: center;
  justify-content: center;

  margin-inline: 10vw;


  height: fit-content;
  max-width: 100vw;

  

}

.project-images button{
  max-height: 100%;
  background-color: #00000020;
  border: none;
  padding: 0;
  

  width: 71%;
  height: 95%;
  cursor: pointer;

  transition: 200ms;

  overflow: hidden;
  border-radius: 1rem;
  

}

.project-images button:focus{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-53%);  
  margin: 2rem;
  z-index: 999999;
  cursor: default;
}

.closed-image:hover{
  transform: scale(1);
}

.closed-image{
  width: calc(100% / 3);
  transform: scale(.7);
  
  
}


.project-images button img{

  display: block;
  height: 100%;
  width: 100%;

  object-fit: contain;
}

.video-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-block: 1rem;
}

.video{
  width: 40vw;
  height: 22.5vw;
}


.project-ods, .project-city, .project-cause{
  /* font-style: italic; */
  text-decoration: underline .01vw solid grey;
  color: var(--dark);
  font-weight: 200;
  font-size: min(calc(var(--fontSize) * 0.025), 3vw);
}



@media screen and (max-width:600px) {
  p {
    font-size: calc(var(--fontSize) * 0.012);
  }

  .project-images button:focus{
    transform: translateX(-65%) translateY(-65%) scale(2);

  }

  .project-images{
    flex-direction: column;
    align-items: space-around;
    justify-content: space-around;

    gap: 5vh;

    width: 45vw;

    margin-inline: auto;

    height: fit-content;  
  }

  .project-images a{
    max-width: 100%;
  }
}