html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root{
  --bannerSize: 65px;
}

.bg{
  background-color: rgb(238, 239, 247);
}

.banner{
  position:sticky;
  z-index: 9998;
  background-color: white;
  height: var(--bannerSize);
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgb(172, 172, 172);
}

.logo{
  text-align: center;
  margin: 0 auto;
  vertical-align: middle;
  line-height: var(--bannerSize);
  width:fit-content;
  height: fit-content;
}

.logo a{
  color: #148314;
  text-decoration:underline #148314 double;
  font-size:200%;
  font-family: 'Times New Roman';
  font-family:var(--siteMainFont);
  transition: 1s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-image: linear-gradient(#008000, rgb(98, 255, 145));
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #FFFFFF;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #000000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.navButton{
  font-size: 50px;
  cursor: pointer;
  vertical-align: middle;
  line-height: calc(var(--bannerSize) - (0.2 * var(--bannerSize)));
  padding-left: 5px;
  float:left;
}

.content{
  flex: 1;
  top: 120px;
  height: calc(100vh - 120px);
  max-width: 100%;
}

.about{
  padding: 2%;
}

.about #img{
  position: fixed;
  padding-top: 40px;
  right: 2%;
  width: 45%;
  float: right;
}

.about #img img{
  box-shadow:5px 10px 20px #7a7a7a;
  max-width: 100%;
  max-height: 100%;
}

.about #txt{
  font-size: 13px;
  margin-right: 50%;
  padding: 10px;
}

#shade{
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: #00000000;
  transition: 0.3s;
}

.footer{
  background-color: rgb(98, 255, 145);
  border-top: 1px solid rgb(172, 172, 172);
  width: 100%;
  height: 50px;
  bottom: 0;
  z-index: 998;
}

