{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Alexandria</title>   

  <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>

<body class="bg">

  <symbol class="navButton" onclick="openNav()">&#9776;</symbol>

  <header class="banner">
    <div>
      <div class="logo">
      <a id="logo" href="{% url 'home' %}" onmouseover="makeBig('220%')" onmouseleave="makeSmall('200%')">Alexandria</a>  
      </div>
    </div>
  </header>
  
  <script src="{% static 'js/index.js' %}"></script>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{%url 'home'%}">Inicio</a>
    <a href="{%url 'projects'%}">Projetos</a>
    <a href="{%url 'news'%}">Novidades</a>
    <a href="{%url 'about'%}">Sobre o Projeto SOMAR</a>
    <a href="{%url 'about_us'%}">Sobre Nós</a>
    <a href="{%url 'contact'%}">Contato</a>
  </div>

  <div id="content" class="content" style="{{bgimg}}">
    <div id='shade'>
    </div>
    {% block content %}
    {% endblock %}
  </div>

  <footer class="footer"></footer>
</body>
</html>
