{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>SOMAR | {{title}}</title>   

  <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">
  <link rel="icon" href="../static/icons/favicon.ico" type="image/x-icon">
</head>

<body class="page-bg">

  <symbol class="nav-button" onclick="openNav()">&#9776;</symbol>

  <header class="banner">
      <a href="{%url 'home'%}" class="logo">
        <img id="logo" src="../static/logo-simple.png" alt="LOGO" >  
      </a>
  </header>
  
  <script src="{% static 'js/index.js' %}"></script>

  <div id="layoutSidenav" class="sidenav" style="font-weight: 200;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{%url 'home'%}">Inicio</a>
    <a href="{%url 'projects'%}">Projetos</a>
    {% comment %} <a href="{%url 'news'%}">Novidades</a> {% endcomment %}
    <a href="{%url 'about'%}">Sobre o Projeto SOMAR</a>
    <a href="{%url 'contact'%}">Contato</a>
  </div>

    <div id='shade'>
      </div>
        {% block content %}
        {% endblock %}
      </div>
    </div>

  <footer class="footer">
    <div style="border-radius: 5px;background-color: #17fc0350; position:fixed; bottom: .5vw; left: .5vw; width:fit-content; height:fit-content; opacity: 70%;">
      <p style="padding-inline:.4vw; padding-block:.2vw; font-size: 1vw;"> ALPHA </p>
    </div>
  </footer>

</body>
</html>
