{% extends 'alexandria_site/layout.html' %}

{% block content  %}
<div class="news center">
    <div class="content-section" id="newsAbout">
        <p class="title center"> Novidades </p><br><br>
        <p class="text center"> Aqui você encontra todas as novidades sobre o Projeto Somar e os projetos da rede Fecomercio!</p>
        <br>
    </div>
    <div class="content-section" id="newsPosts">
        {% for post in posts %}
        <div onclick="location.href='#'" id="post"  class="post center">
            <hr style="width: 70%;">
            <p id="title" class="center">{{post.title}}</p>
            <br>
            <p id="post-content" class="center">{{post.content}}</p>
            <br>
            <p id="date"> Date Posted: {{post.date_posted}}&#160 &#160</p>
            <hr style="width: 70%;">
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content  %}